<div
  class="content"
  role="main"
  (click)="
    $event.stopPropagation();
    $event.stopPropagation();
    toggleObject.toggle = false
  "
>
  <!-- Highlight Card -->
  <div
    class="card highlight-card card-small ps-0 pos-relative mt-2 mb-4"
    (click)="newPocess()"
  >
    <button mat-icon-button class="img_procesare">
      <mat-icon svgIcon="textImage"></mat-icon>
    </button>
    <span class="fs-5">Document nou</span>
  </div>

  <div style="overflow: hidden">
    <mat-icon
      svgIcon="drag-drop-image"
      style="width: 700px; height: auto"
    ></mat-icon>
  </div>

  <!-- Footer -->
  <!-- <footer>
    <a title="About me" [routerLink]="'/about'">
      Lucrare de licenta
      <mat-icon class="mx-2">star</mat-icon>
      <span [style.color]="'black'">Bagut Vlad Serban</span>
    </a>
  </footer> -->

  <app-floating-menu [toggleObject]="toggleObject"></app-floating-menu>
</div>
