<div
  class="content"
  role="main"
  (click)="
    $event.stopPropagation();
    $event.stopPropagation();
    toggleObject.toggle = false
  "
>
  <div class="d-flex">
    <!-- Asig auto -->
    <div
      class="card highlight-card card-small pos-relative mt-2 mb-4 m-4"
      (click)="goTo('asigurare')"
    >
      <button mat-icon-button class="me-3">
        <mat-icon style="font-size: 34px">directions_car</mat-icon>
      </button>
      <span class="button-text">Asigurare auto RCA</span>
    </div>

    <!-- Inscriere facultate -->
    <div
      class="card highlight-card card-small pos-relative mt-2 mb-4 ms-4"
      (click)="goTo('inscriere')"
    >
      <button mat-icon-button class="me-3">
        <mat-icon style="font-size: 34px">school</mat-icon>
      </button>
      <span class="button-text">Fişă înscriere facultate</span>
    </div>
  </div>

  <div style="overflow: hidden">
    <mat-icon
      svgIcon="drag-drop-image"
      style="width: 850px; height: auto; margin-left: 50px"
    ></mat-icon>
  </div>

  <!-- Footer -->
  <!-- <footer>
    <a title="About me" [routerLink]="'/about'">
      Lucrare de licenta
      <mat-icon class="mx-2">star</mat-icon>
      <span [style.color]="'black'">Bagut Vlad Serban</span>
    </a>
  </footer> -->

  <app-floating-menu [toggleObject]="toggleObject"></app-floating-menu>
</div>
