<div
  class="at-floating-navigation"
  [class.at-floating-navigation--active]="toggle"
>
  <button
    class="at-floating-navigation__button"
    (click)="toggle = !toggle"
    type="button"
  >
    ?
  </button>
  <nav class="at-floating-navigation__menu">
    <header class="at-floating-navigation__user d-flex flex-row">
      <div class="at-floating-navigation__thumbnail w-35">
        <img alt="BV" src="/assets/icons/me.jpg" />
      </div>
      <div class="at-floating-navigation__content w-65">
        <h2 class="at-floating-navigation__title">Bagut Vlad Serban</h2>
        <p class="at-floating-navigation__description"></p>
      </div>
    </header>
    <a class="at-floating-navigation__item d-flex flex-row">
      <span class="w-35 flex-grow-0">Facultate: </span>
      <span class="w-65 flex-grow-1 fw-normal">
        Facultatea de Electronica, Telecomunicatii si Tehnologia Informatiei
      </span>
    </a>
    <a class="at-floating-navigation__item d-flex flex-row">
      <span class="w-35 flex-grow-0">Anul: </span>
      <span class="w-65 flex-grow-1 fw-normal">IV</span>
    </a>
    <a class="at-floating-navigation__item d-flex flex-row">
      <span class="w-35 flex-grow-0">Grupa: </span>
      <span class="w-65 flex-grow-1 fw-normal">2541</span>
    </a>
    <a class="at-floating-navigation__item d-flex flex-row">
      <span class="w-35 flex-grow-0">E-mail: </span>
      <span class="w-65 flex-grow-1 fw-normal"> vladbagut@yahoo.com</span>
    </a>
  </nav>
</div>
