<app-sidebar-resizer
  class="h-100 w-100"
  leftContainerWidth="50%"
  minLeft="100px"
  [minRight]="100"
>
  <ng-container left-container>
    <div class="w-100 h-100 d-flex p-4 pt-5">
      <div appDragDrop (filesDropped)="setFile($event)" class="asig-wrapper">
        <!-- upload & drag& drop area -->
        <button
          class="position-relative align-self-center upload-button"
          mat-icon-button
          (click)="fileInput.click()"
        >
          <mat-icon svgIcon="cloudUpload"></mat-icon>
          <mat-icon>logout</mat-icon>
        </button>

        <div
          color="primary"
          class="mat-body-2 primary-main mt-3 align-self-center"
        >
          Incarca imagine
        </div>
        <div class="subtext align-self-center">
          Tipurile de fisiere permise: *.jpg, *.png
        </div>
        <input
          hidden
          type="file"
          onclick="this.value=null"
          #fileInput
          [accept]="CERTIFICATE_UPLOAD_FILE_FORMATS"
          (change)="setFile($event.target.files[0])"
        />
        <mat-error
          class="mt-4 max-w-400 align-self-center"
          *ngIf="errorMessage"
        >
          Eroare la incarcare fisier: {{ errorMessage }}
        </mat-error>

        <!-- lista imagini incarcate -->
        <div class="mt-4">
          <div
            *ngFor="let upFile of files; let i = index"
            class="d-flex flex-row mt-3 file-item not-allow-drop"
          >
            <!-- o imagine incarcata -->
            <mat-expansion-panel
              [expanded]="upFile.expanded"
              class="mat-elevation-z0 flex-grow-1"
            >
              <mat-expansion-panel-header>
                <div
                  class="d-flex flex-row justify-content-between align-items-center w-100 ps-2"
                >
                  <div class="text-start flex-grow-1 word-break">
                    {{ upFile.fileName }}
                  </div>
                  <button
                    class="ms-3 action-button close-button"
                    mat-icon-button
                    (click)="
                      $event.preventDefault();
                      $event.stopPropagation();
                      deleteMedia(upFile)
                    "
                    color="primary"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </mat-expansion-panel-header>

              <div class="d-flex flex-row">
                <!-- imagine (cu un canvas ascuns pe care se deseneaza selectia) -->
                <div
                  class="image-cropper-wrapper w-100 h-100 position-relative"
                  (contextmenu)="
                    $event.preventDefault();
                    $event.stopPropagation();
                    textExtractingFor = upFile;
                    contextMenuPosition.x = $event.clientX;
                    contextMenuPosition.y = $event.clientY;
                    upFile.croppedFile && contextMenuTrigger.openMenu()
                  "
                >
                  <div
                    style="visibility: hidden; position: fixed"
                    [style.left]="contextMenuPosition.x + 'px'"
                    [style.top]="contextMenuPosition.y + 'px'"
                    #contextMenuTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="myMenu"
                    [matMenuTriggerData]="{
                      upFile: upFile,
                      items: menuGroupsItems
                    }"
                    (onMenuOpen)="onMenuOpen(contextMenuTrigger)"
                    (onMenuClose)="openedTrigger = null"
                  ></div>
                  <img
                    appCropImage
                    (imageCropped)="cropImg($event, upFile)"
                    (imageDragged)="textExtractingFor = upFile"
                    class="noselect"
                    [src]="upFile.fileBase64"
                    draggable="false"
                    style="
                      height: auto;
                      object-fit: scale-down !important;
                      max-width: 100%;
                    "
                  />
                </div>
                <!-- butoane pt actiuni imagine-->
                <div
                  style="width: 40px"
                  class="d-flex flex-column align-items-end pt-2"
                >
                  <button
                    type="button"
                    [class.opacity-0]="!upFile.croppedFile"
                    [class.spinner-grow-inline]="
                      textExtracting && upFile == textExtractingFor
                    "
                    color="primary"
                    mat-icon-button
                    class="action-button mb-3"
                  >
                    <a
                      class="nav-link"
                      #myMenuTrigger="matMenuTrigger"
                      [matMenuTriggerData]="{ upFile: upFile }"
                      [matMenuTriggerFor]="myMenu"
                      (onMenuOpen)="onMenuOpen(myMenuTrigger)"
                      (onMenuClose)="openedTrigger = null"
                      (click)="textExtractingFor = upFile"
                    >
                      <mat-icon class="mt-1">arrow_forward</mat-icon>
                    </a>
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container right-container>
    <div class="h-100 d-flex flex-column flex-grow-1 pt-4 pe-5">
      <div class="w-100 d-flex flex-column justify-content-center px-5 pb-3">
        <span class="doc-title pt-2">
          {{ selectedDocType.label }}
        </span>
      </div>

      <!-- formular -->
      <ng-container *ngTemplateOutlet="formularTemplate"> </ng-container>
    </div>
  </ng-container>
</app-sidebar-resizer>

<!-- Menu & SubMenu -->
<mat-menu #myMenu="matMenu" xPosition="after">
  <ng-template matMenuContent let-items="items" let-upFile="upFile">
    <ng-container *ngFor="let group of items">
      <button
        mat-menu-item
        *ngIf="group.items?.length"
        [matMenuTriggerFor]="subMenu"
        [matMenuTriggerData]="{ items: group.items, upFile }"
      >
        <span class="ms-1 ps-4">{{ group.label }}</span>
      </button>

      <button
        mat-menu-item
        *ngIf="!group.items?.length"
        (click)="
          sendFileInFiled(
            { file: upFile.croppedFile, fileBase64: upFile.croppedFileBase64 },
            group
          )
        "
      >
        <mat-icon *ngIf="!group.isImage; else imageImg"></mat-icon>
        <ng-template #imageImg>
          <mat-icon>assignment_ind</mat-icon>
        </ng-template>
        <span class="px-2">{{ group.label }}</span>
        <mat-icon class="float-end">arrow_forward</mat-icon>
      </button>
    </ng-container>
    <button
      mat-menu-item
      (click)="
        consoleOpenState = true;
        textConsola = '';
        sendFileInFiled({
          file: upFile.croppedFile,
          fileBase64: upFile.croppedFileBase64
        })
      "
      class="show-in-console"
    >
      <mat-icon>view_headline</mat-icon>
      <span class="px-2">Afisare text extras in consola</span>
      <mat-icon class="float-end">arrow_downward</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #subMenu="matMenu" xPosition="after">
  <ng-template matMenuContent let-items="items" let-upFile="upFile">
    <button
      [class.image-menu-button]="field.isImage"
      *ngFor="let field of items"
      mat-menu-item
      (click)="
        sendFileInFiled(
          { file: upFile.croppedFile, fileBase64: upFile.croppedFileBase64 },
          field
        )
      "
    >
      <mat-icon *ngIf="!field.key.isImage; else imageImg"> </mat-icon>
      <ng-template #imageImg>
        <mat-icon>assignment_ind</mat-icon>
      </ng-template>

      <span class="px-2">{{ field.label }}</span>
      <span *ngIf="field.shortName" class="px-2">({{ field.shortName }})</span>
      <mat-icon class="float-end">arrow_forward</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<!-- FORM -->
<ng-template
  appTemplateDirective
  #formularTemplate
  templateName="formularTemplate"
>
  <form
    autocomplete="off"
    class="w-100 h-100 d-flex flex-row position-relative mt-2"
    [formGroup]="
      selectedDocType ? formGroup.get(selectedDocType.key) : formGroup
    "
  >
    <!-- Controls: col 1 si 2 -->
    <ng-container *ngIf="selectedDocType">
      <div
        class="h-100 d-flex flex-column px-5 col-{{ column }}"
        *ngFor="let column of [1, 2]"
      >
        <div
          *ngFor="let field of getSelectedDocTypeFields(column); let i = index"
          [class.collapsed]="isGroupCollapsed(field)"
        >
          <!-- group header-->
          <div
            (dragover)="dragOverGroup = field; openGroup(field)"
            (dragleave)="dragOverGroup = null"
            [style.margin]="field.margin || '0px'"
            *ngIf="field.group"
            class="field-separator no-select"
            [class.expanded]="
              !formGroup.get(selectedDocType.key).get(field.key).value
            "
            [class.error]="groupHasError(field)"
            (click)="
              formGroup
                .get(selectedDocType.key)
                .get(field.key)
                .setValue(
                  !formGroup.get(selectedDocType.key).get(field.key).value
                )
            "
          >
            <span class="mat-expansion-indicator float-end"></span>
            {{ field.label }}
          </div>

          <div *ngIf="!field.group" class="w-100 h-100 d-flex">
            <!-- text -->
            <div
              *ngIf="field.isText"
              class="mb-2"
              [class.indent]="field.key != 'legenda'"
              style="color: lightslategray"
            >
              <span
                [innerHTML]="field.label"
                *ngIf="
                  field.key != 'legenda' ||
                  configFormGroup
                    .get(this.selectedDocType.key)
                    .get('tipConcurs')?.value === 1
                "
              ></span>
            </div>

            <div
              *ngIf="
                field.isOption &&
                configFormGroup.get(this.selectedDocType.key).get('tipConcurs')
                  ?.value === 1
              "
            >
              <div class="pb-2 ps-2" style="color: lightslategray">
                {{ "Optiune formula calcul:" }}
              </div>
              <mat-radio-group [formControlName]="field.key">
                <mat-radio-button
                  color="primary"
                  class="d-block mb-2 ms-3 mt-1"
                  [value]="1"
                  >{{
                    configFormGroup
                      .get(this.selectedDocType.key)
                      .get("formulaExam1")?.value
                  }}
                </mat-radio-button>
                <mat-radio-button
                  color="primary"
                  class="d-block mb-4 ms-3"
                  [value]="2"
                  >{{
                    configFormGroup.get("fisaInscriere").get("formulaExam2")
                      ?.value
                  }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <!--  field normal( nu linie) -->
            <ng-container
              *ngIf="
                !field.line && !field.inLine && !field.isText && !field.isOption
              "
            >
              <!-- field: nu data, nu imagine (input, text area)-->
              <ng-container *ngIf="!field.isImage && !field.isDate">
                <mat-form-field
                  class="w-100 mb-2"
                  appearance="outline"
                  color="primary"
                  appDragDrop
                  (textDropped)="sendTextInField($event, field.key)"
                  (filesDropped)="sendFileInFiled({ file: $event }, field)"
                >
                  <mat-label>{{
                    field.label +
                      (field.shortLabel ? " (" + field.shortLabel + ") " : "")
                  }}</mat-label>

                  <input
                    [required]="field.isRequired"
                    *ngIf="!field.big"
                    type="text"
                    matInput
                    [maxLength]="field.length || 1000000"
                    [formControlName]="field.key"
                  />

                  <textarea
                    [required]="field.isRequired"
                    *ngIf="field.big"
                    type="text"
                    spellcheck="false"
                    rows="1"
                    matInput
                    [maxLength]="field.length || 1000000"
                    [formControlName]="field.key"
                  ></textarea>
                  <mat-icon
                    (click)="
                      formGroup
                        .get(selectedDocType.key)
                        .get(field.key)
                        .setValue('')
                    "
                    *ngIf="
                      formGroup?.get(selectedDocType.key).get(field.key)?.value
                    "
                    [@fadingAnimation]="{
                      value: formGroup?.get(selectedDocType.key).get(field.key)
                        ?.value
                        ? true
                        : false
                    }"
                    color="accent"
                    matSuffix
                    >close
                  </mat-icon>

                  <mat-error>
                    {{ field | appFunctionPipe : getErrorMessage.bind(this) }}
                  </mat-error>
                </mat-form-field>
              </ng-container>

              <!-- date -->
              <mat-form-field
                class="w-100 mb-2"
                *ngIf="field.isDate"
                appearance="outline"
                color="primary"
                appDragDrop
                (textDropped)="sendTextInField($event, field.key)"
                (filesDropped)="sendFileInFiled({ file: $event }, field)"
              >
                <mat-label>{{
                  field.label +
                    (field.shortLabel ? " (" + field.shortLabel + ") " : "")
                }}</mat-label>

                <input
                  [formControlName]="field.key"
                  name="start"
                  matInput
                  [matDatepicker]="dpstart"
                  (click)="dpstart.open()"
                  [required]="field.isRequired"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dpstart"
                ></mat-datepicker-toggle>
                <mat-datepicker #dpstart disabled="false"></mat-datepicker>

                <mat-error>
                  {{ field | appFunctionPipe : getErrorMessage.bind(this) }}
                </mat-error>
              </mat-form-field>

              <!-- imagine-->
              <div
                *ngIf="field.isImage"
                class="w-100 d-flex justify-content-center"
              >
                <div
                  [class.hasImage]="
                    formGroup.get(selectedDocType.key).get(field.key).value
                  "
                  class="formular-image-wrapper d-flex justify-content-center align-items-center"
                  appDragDrop
                  (filesDropped)="sendFileInFiled({ file: $event }, field)"
                >
                  <img
                    *ngIf="
                      formGroup.get(selectedDocType.key).get(field.key).value;
                      else noIcon
                    "
                    [src]="
                      formGroup.get(selectedDocType.key).get(field.key).value
                    "
                  />
                  <ng-template #noIcon>
                    <mat-icon svgIcon="image"></mat-icon>
                  </ng-template>
                </div>
              </div>
            </ng-container>

            <!-- linie -->
            <ng-container *ngIf="field.line && !field.isText">
              <div class="d-flex flex-row w-100 gap-2">
                <!-- field: nu data, nu imagine (input, text area)-->
                <ng-container *ngIf="!field.isImage && !field.isDate">
                  <mat-form-field
                    class="mb-2 line-item"
                    appearance="outline"
                    color="primary"
                    appDragDrop
                    (textDropped)="sendTextInField($event, field.key)"
                    (filesDropped)="sendFileInFiled({ file: $event }, field)"
                  >
                    <mat-label>{{
                      field.label +
                        (field.shortLabel ? " (" + field.shortLabel + ") " : "")
                    }}</mat-label>

                    <input
                      [required]="field.isRequired"
                      *ngIf="!field.big"
                      type="text"
                      matInput
                      [maxLength]="field.length || 1000000"
                      [formControlName]="field.key"
                    />

                    <textarea
                      [required]="field.isRequired"
                      *ngIf="field.big"
                      type="text"
                      spellcheck="false"
                      rows="1"
                      matInput
                      [maxLength]="field.length || 1000000"
                      [formControlName]="field.key"
                    ></textarea>
                    <mat-icon
                      (click)="
                        formGroup
                          .get(selectedDocType.key)
                          .get(field.key)
                          .setValue('')
                      "
                      *ngIf="
                        formGroup?.get(selectedDocType.key).get(field.key)
                          ?.value
                      "
                      [@fadingAnimation]="{
                        value: formGroup
                          ?.get(selectedDocType.key)
                          .get(field.key)?.value
                          ? true
                          : false
                      }"
                      color="accent"
                      matSuffix
                      >close
                    </mat-icon>

                    <mat-error>
                      {{ field | appFunctionPipe : getErrorMessage.bind(this) }}
                    </mat-error>
                  </mat-form-field>
                </ng-container>

                <!-- date -->
                <mat-form-field
                  class="mb-2 line-item"
                  *ngIf="field.isDate"
                  appearance="outline"
                  color="primary"
                  appDragDrop
                  (textDropped)="sendTextInField($event, field.key)"
                  (filesDropped)="sendFileInFiled({ file: $event }, field)"
                >
                  <mat-label>{{
                    field.label +
                      (field.shortLabel ? " (" + field.shortLabel + ") " : "")
                  }}</mat-label>

                  <input
                    [formControlName]="field.key"
                    name="start"
                    matInput
                    [matDatepicker]="dpstart"
                    (click)="dpstart.open()"
                    [required]="field.isRequired"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="dpstart"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #dpstart disabled="false"></mat-datepicker>

                  <mat-error>
                    {{ field | appFunctionPipe : getErrorMessage.bind(this) }}
                  </mat-error>
                </mat-form-field>

                <!-- imagine-->
                <div
                  class="line-item"
                  *ngIf="field.isImage"
                  [class.hasImage]="
                    formGroup.get(selectedDocType.key).get(field.key).value
                  "
                  class="formular-image-wrapper d-flex justify-content-center align-items-center mt-2"
                  appDragDrop
                  (filesDropped)="sendFileInFiled({ file: $event }, field)"
                >
                  <img
                    *ngIf="
                      formGroup.get(selectedDocType.key).get(field.key).value;
                      else noIcon
                    "
                    [src]="
                      formGroup.get(selectedDocType.key).get(field.key).value
                    "
                  />
                  <ng-template #noIcon>
                    <mat-icon svgIcon="image"></mat-icon>
                  </ng-template>
                </div>

                <ng-container *ngFor="let nextField of getLine(field)">
                  <!-- field: nu data, nu imagine (input, text area)-->
                  <ng-container *ngIf="!nextField.isImage && !nextField.isDate">
                    <mat-form-field
                      class="mb-2 line-item"
                      appearance="outline"
                      color="primary"
                      appDragDrop
                      (textDropped)="sendTextInField($event, nextField.key)"
                      (filesDropped)="
                        sendFileInFiled({ file: $event }, nextField)
                      "
                    >
                      <mat-label>{{
                        nextField.label +
                          (nextField.shortLabel
                            ? " (" + nextField.shortLabel + ") "
                            : "")
                      }}</mat-label>

                      <input
                        [required]="nextField.isRequired"
                        *ngIf="!nextField.big"
                        type="text"
                        matInput
                        [maxLength]="nextField.length || 1000000"
                        [formControlName]="nextField.key"
                      />

                      <textarea
                        [required]="nextField.isRequired"
                        *ngIf="nextField.big"
                        type="text"
                        spellcheck="false"
                        rows="1"
                        matInput
                        [maxLength]="nextField.length || 1000000"
                        [formControlName]="nextField.key"
                      ></textarea>
                      <mat-icon
                        (click)="
                          formGroup
                            .get(selectedDocType.key)
                            .get(nextField.key)
                            .setValue('')
                        "
                        *ngIf="
                          formGroup?.get(selectedDocType.key).get(nextField.key)
                            ?.value
                        "
                        [@fadingAnimation]="{
                          value: formGroup
                            ?.get(selectedDocType.key)
                            .get(nextField.key)?.value
                            ? true
                            : false
                        }"
                        color="accent"
                        matSuffix
                        >close
                      </mat-icon>

                      <mat-error>
                        {{
                          nextField
                            | appFunctionPipe : getErrorMessage.bind(this)
                        }}
                      </mat-error>
                    </mat-form-field>
                  </ng-container>

                  <!-- date -->
                  <mat-form-field
                    class="mb-2 line-item"
                    *ngIf="nextField.isDate"
                    appearance="outline"
                    color="primary"
                    appDragDrop
                    (textDropped)="sendTextInField($event, nextField.key)"
                    (filesDropped)="
                      sendFileInFiled({ file: $event }, nextField)
                    "
                  >
                    <mat-label>{{
                      nextField.label +
                        (nextField.shortLabel
                          ? " (" + nextField.shortLabel + ") "
                          : "")
                    }}</mat-label>

                    <input
                      [formControlName]="nextField.key"
                      name="start"
                      matInput
                      [matDatepicker]="dpstart"
                      (click)="dpstart.open()"
                      [required]="nextField.isRequired"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="dpstart"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #dpstart disabled="false"></mat-datepicker>

                    <mat-error>
                      {{
                        nextField | appFunctionPipe : getErrorMessage.bind(this)
                      }}
                    </mat-error>
                  </mat-form-field>

                  <!-- imagine-->
                  <div
                    class="line-item"
                    *ngIf="nextField.isImage"
                    [class.hasImage]="
                      formGroup.get(selectedDocType.key).get(nextField.key)
                        .value
                    "
                    class="formular-image-wrapper d-flex justify-content-center align-items-center mt-2"
                    appDragDrop
                    (filesDropped)="
                      sendFileInFiled({ file: $event }, nextField)
                    "
                  >
                    <img
                      *ngIf="
                        formGroup.get(selectedDocType.key).get(nextField.key)
                          .value;
                        else noIcon
                      "
                      [src]="
                        formGroup.get(selectedDocType.key).get(nextField.key)
                          .value
                      "
                    />
                    <ng-template #noIcon>
                      <mat-icon svgIcon="image"></mat-icon>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Action buttons  -->
    <div
      class="d-flex flex-column justify-content-between pdfActionsWrapper"
      [class.active]="selectedDocType"
    >
      <div class="d-flex flex-column">
        <!-- Open PDF-->
        <button
          (click)="generarePdf('open')"
          color="primary"
          mat-icon-button
          class="action-button big mb-3 mt-3"
          matTooltip="Generare PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon svgIcon="pdf"></mat-icon>
        </button>

        <!-- Download PDF-->
        <button
          (click)="generarePdf('download')"
          color="primary"
          mat-icon-button
          class="action-button big mb-3"
          matTooltip="Download PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon>cloud_download</mat-icon>
        </button>

        <!-- Print PDF-->
        <button
          (click)="generarePdf('print')"
          color="primary"
          mat-icon-button
          matTooltip="Print PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
          class="action-button big"
        >
          <mat-icon>print</mat-icon>
        </button>
      </div>
      <div class="d-flex flex-column">
        <!-- Config-->
        <button
          *ngIf="selectedDocType"
          type="button"
          (click)="configOpenState = configOpenState ? false : true"
          color="primary"
          mat-icon-button
          matTooltip="Configurari"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
          class="action-button big mb-3 signature-button"
        >
          <mat-icon style="margin-top: -3px" svgIcon="settings"></mat-icon>
        </button>
        <mat-expansion-panel
          class="sign-mat-expansion"
          [(expanded)]="configOpenState"
          hideToggle="true"
        >
          <div class="h-100 w-100 position-relative sign-wrapper mt-4">
            <span class="sign-titlu position-absolute">Configurari</span>
            <button
              class="action-button close-button position-absolute"
              (click)="configOpenState = false"
              mat-icon-button
              color="primary"
            >
              <mat-icon>close</mat-icon>
            </button>
            <div class="h-100 w-100">
              <ng-container *ngTemplateOutlet="configTemplate"> </ng-container>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Signature-->
        <button
          *ngIf="selectedDocType"
          type="button"
          (click)="signOpenState = signOpenState ? false : true"
          color="primary"
          mat-icon-button
          class="action-button big mb-3 signature-button"
          matTooltip="Semnatura"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon svgIcon="signature"></mat-icon>
        </button>
        <mat-expansion-panel
          class="sign-mat-expansion"
          [(expanded)]="signOpenState"
          hideToggle="true"
        >
          <div class="h-100 w-100 position-relative sign-wrapper mt-4">
            <span class="sign-titlu position-absolute">Semnătura</span>
            <button
              class="action-button close-button position-absolute"
              (click)="signOpenState = false"
              mat-icon-button
              color="primary"
            >
              <mat-icon>close</mat-icon>
            </button>
            <div class="h-100 sign w-100">
              <signature-pad
                class="flex-grow-1"
                [options]="signaturePadOptions"
                (onEndEvent)="drawComplete()"
              ></signature-pad>
            </div>
            <button
              [class.opacity-0]="!signatureBase64"
              type="button"
              (click)="clearSign()"
              color="primary"
              mat-icon-button
              class="action-button opacity-0 me-2 float-end"
            >
              Clear
            </button>
          </div>
        </mat-expansion-panel>

        <!-- Reset PDF-->
        <button
          *ngIf="selectedDocType"
          (click)="resetForm()"
          color="primary"
          mat-icon-button
          class="action-button big reset-button mb-3"
          matTooltip="Clear"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <!-- Consola-->
    <mat-expansion-panel
      class="console-mat-expansion"
      [(expanded)]="consoleOpenState"
      hideToggle="true"
    >
      <div class="h-100 w-100 position-relative console-wrapper mt-4">
        <span class="sign-titlu position-absolute">Consola</span>
        <button
          class="action-button close-button position-absolute"
          (click)="consoleOpenState = false"
          mat-icon-button
          color="primary"
          [class.spinner-grow-inline]="textExtracting"
        >
          <mat-icon>close</mat-icon>
        </button>

        <div class="h-100 w-100">
          <div class="py-4 ps-3 pe-4 noTextInConsola" *ngIf="textExtracting">
            {{ "Procesare imagine selectata si extragere text..." }}
          </div>
          <div class="py-4 ps-3 pe-4">{{ textConsola }}</div>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</ng-template>

<!-- config -->
<ng-template appTemplateDirective #configTemplate templateName="configTemplate">
  <div>
    <form
      *ngIf="selectedDocType"
      autocomplete="off"
      class="d-flex flex-column flex-wrap"
      style="max-height: 460px; width: 900px; column-gap: 50px"
      [formGroup]="
        selectedDocType
          ? configFormGroup.get(selectedDocType.key)
          : configFormGroup
      "
    >
      <ng-container
        *ngFor="let field of getSelectedDocTypeConfigFields(); let idx = index"
      >
        <!-- text -->
        <div
          *ngIf="field.isText"
          class="ms-1 mb-3"
          [style.padding-left]="'2px'"
          style="color: lightslategray"
        >
          <span [innerHTML]="field.label"></span>
        </div>

        <ng-container *ngIf="field.isOption">
          <mat-radio-group class="mb-3" [formControlName]="field.key">
            <mat-radio-button
              color="primary"
              class="d-block mb-2 ms-3"
              *ngFor="let opt of field.options; let i = index"
              [value]="i"
              >{{ opt }}</mat-radio-button
            >
          </mat-radio-group>
        </ng-container>

        <ng-container *ngIf="!field.isText && !field.isOption">
          <mat-form-field
            [style.min-width]="idx == 0 ? '415px' : '0px'"
            appearance="outline"
            color="primary"
            *ngIf="!field.isImage"
          >
            <mat-label>{{ field.label }}</mat-label>
            <input type="text" matInput [formControlName]="field.key" />
          </mat-form-field>

          <div
            *ngIf="field.isImage"
            class="config-image-wrapper d-flex justify-content-center align-items-center mt-2 position-relative"
            appDragDrop
            (filesDropped)="sendFileInConfigField($event, field)"
          >
            <mat-label class="position-absolute config-image-label">{{
              field.label
            }}</mat-label>
            <img
              style="height: 100px"
              [src]="
                configFormGroup.get(selectedDocType.key).get(field.key).value
              "
            />
          </div>
        </ng-container>
      </ng-container>
    </form>
  </div>
</ng-template>
