<rsz-layout
  class="row"
  [directions]="['none']"
  [rFlex]="true"
  class="d-flex w-100"
>
  <!-- LEFT - UPLOAD -->
  <rsz-layout
    class="cell"
    [className]="'cell'"
    [directions]="['right']"
    [rFlex]="true"
    (resizing)="resizing()"
  >
    <div appDragDrop (filesDropped)="setFile($event)" class="asig-wrapper">
      <!-- upload & drag& drop area -->
      <button
        class="position-relative align-self-center upload-button"
        mat-icon-button
        (click)="fileInput.click()"
      >
        <mat-icon svgIcon="cloudUpload"></mat-icon>
        <mat-icon>logout</mat-icon>
      </button>

      <div
        color="primary"
        class="mat-body-2 primary-main mt-3 align-self-center"
      >
        Incarca imagine
      </div>
      <div class="subtext align-self-center">
        Tipurile de fisiere permise: *.jpg, *.png
      </div>
      <input
        hidden
        type="file"
        onclick="this.value=null"
        #fileInput
        [accept]="CERTIFICATE_UPLOAD_FILE_FORMATS"
        (change)="setFile($event.target.files[0])"
      />
      <mat-error class="mt-4 max-w-400 align-self-center" *ngIf="errorMessage">
        Eroare la incarcare fisier: {{ errorMessage }}
      </mat-error>

      <!-- lista imagini incarcate -->
      <div class="mt-4">
        <div
          *ngFor="let upFile of files; let i = index"
          class="d-flex flex-row mt-3 file-item not-allow-drop"
        >
          <!-- o imagine incarcata -->
          <mat-expansion-panel
            [expanded]="upFile.expanded"
            class="mat-elevation-z0 flex-grow-1"
          >
            <mat-expansion-panel-header>
              <div
                class="d-flex flex-row justify-content-between align-items-center w-100 ps-2"
              >
                <div class="text-start flex-grow-1 word-break">
                  {{ upFile.fileName }}
                </div>
                <button
                  class="ms-3 action-button close-button"
                  mat-icon-button
                  (click)="
                    $event.preventDefault();
                    $event.stopPropagation();
                    deleteMedia(upFile)
                  "
                  color="primary"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-expansion-panel-header>

            <div class="d-flex flex-row">
              <!-- imagine (cu un canvas ascuns pe care se deseneaza selectia) -->
              <div
                class="image-cropper-wrapper w-100 h-100 position-relative"
                (contextmenu)="
                  $event.preventDefault();
                  $event.stopPropagation();
                  textExtractingFor = upFile;
                  contextMenuPosition.x = $event.clientX;
                  contextMenuPosition.y = $event.clientY;
                  upFile.croppedFile && contextMenuTrigger.openMenu()
                "
              >
                <div
                  style="visibility: hidden; position: fixed"
                  [style.left]="contextMenuPosition.x + 'px'"
                  [style.top]="contextMenuPosition.y + 'px'"
                  #contextMenuTrigger="matMenuTrigger"
                  [matMenuTriggerFor]="myMenu"
                  [matMenuTriggerData]="{ upFile: upFile }"
                  (onMenuOpen)="onMenuOpen(contextMenuTrigger)"
                  (onMenuClose)="openedTrigger = null"
                ></div>
                <img
                  appCropImage
                  (imageCropped)="cropImg($event, upFile)"
                  (imageDragged)="textExtractingFor = upFile"
                  class="noselect"
                  [src]="upFile.fileBase64"
                  draggable="false"
                  style="
                    height: auto;
                    object-fit: scale-down !important;
                    max-width: 100%;
                  "
                />
              </div>
              <!-- butoane pt actiuni imagine-->
              <div
                style="width: 40px"
                class="d-flex flex-column align-items-end pt-2"
              >
                <button
                  type="button"
                  [class.opacity-0]="!upFile.croppedFile"
                  [class.spinner-grow-inline]="
                    textExtracting && upFile == textExtractingFor
                  "
                  color="primary"
                  mat-icon-button
                  class="action-button mb-3"
                >
                  <a
                    class="nav-link"
                    #myMenuTrigger="matMenuTrigger"
                    [matMenuTriggerData]="{ upFile: upFile }"
                    [matMenuTriggerFor]="myMenu"
                    (onMenuOpen)="onMenuOpen(myMenuTrigger)"
                    (onMenuClose)="openedTrigger = null"
                    (click)="textExtractingFor = upFile"
                  >
                    <mat-icon class="mt-1">arrow_forward</mat-icon>
                  </a>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </rsz-layout>

  <!-- RIGHT: FORMULAR SI CONSOLA -->
  <rsz-layout class="cell" [directions]="['none']" [rFlex]="false">
    <div class="asig-wrapper asig-wrapper-right w-100 px-3 pe-5">
      <div class="content cols h-100 w-100">
        <rsz-layout
          class="row"
          [directions]="['none']"
          [rFlex]="true"
          style="flex-basis: 100%"
        >
          <!-- FORMULAR -->
          <rsz-layout
            [class.console-closed]="!textConsola"
            class="cell"
            [directions]="['bottom']"
            [rFlex]="true"
            [class.flex-90]="textConsola"
            [class.flex-100]="!textConsola"
          >
            <div class="d-flex flex-row h-100 pt-2 pe-4">
              <div class="h-100 d-flex flex-column flex-grow-1">
                <div
                  class="w-100 d-flex flex-column justify-content-center px-5 pb-3"
                >
                  <span class="doc-title pt-2">
                    {{ selectedDocType.label }}
                  </span>
                </div>

                <!-- formular -->
                <ng-container *ngTemplateOutlet="formularTemplate">
                </ng-container>
              </div>
            </div>
          </rsz-layout>

          <!-- CONSOLA -->
          <rsz-layout
            class="cell"
            [directions]="['none']"
            [rFlex]="false"
            [style.margin-bottom]="'5px'"
          >
            <!-- consola -->
            <div
              class="h-100 w-100 position-relative consola-wrapper"
              *ngIf="textConsola"
            >
              <span class="consola-titlu position-absolute">Consola</span>
              <button
                class="action-button close-button position-absolute"
                (click)="textConsola = null"
                mat-icon-button
                color="primary"
              >
                <mat-icon>close</mat-icon>
              </button>
              <div class="h-100 consola w-100">
                <div class="py-4 ps-3 pe-4">{{ textConsola }}</div>
              </div>
            </div>
          </rsz-layout>
        </rsz-layout>
      </div>
    </div>
  </rsz-layout>
</rsz-layout>

<!-- Meniu-->
<mat-menu #myMenu="matMenu">
  <ng-template matMenuContent let-upFile="upFile">
    <button
      [class.image-menu-button]="field.isImage"
      *ngFor="let field of selectedDocType?.fieldsList"
      mat-menu-item
      (click)="
        sendFileInFiled(
          { file: upFile.croppedFile, fileBase64: upFile.croppedFileBase64 },
          field
        )
      "
    >
      <mat-icon *ngIf="!field.key.isImage; else imageImg"> </mat-icon>
      <ng-template #imageImg>
        <mat-icon>assignment_ind</mat-icon>
      </ng-template>

      <span class="px-2">{{ field.label }}</span>
      <span *ngIf="field.shortName" class="px-2">({{ field.shortName }})</span>
      <mat-icon class="float-end">arrow_forward</mat-icon>
    </button>

    <button
      mat-menu-item
      (click)="
        sendFileInFiled({
          file: upFile.croppedFile,
          fileBase64: upFile.croppedFileBase64
        })
      "
      class="show-in-console"
    >
      <mat-icon>view_headline</mat-icon>
      <span class="px-2">Afisare text extras in consola</span>
      <mat-icon class="float-end">arrow_downward</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<!-- Formulare -->
<ng-template
  appTemplateDirective
  #formularTemplate
  templateName="formularTemplate"
>
  <form
    autocomplete="off"
    class="w-100 h-100 d-flex flex-row position-relative mt-2"
    [formGroup]="
      selectedDocType ? formGroup.get(selectedDocType.key) : formGroup
    "
  >
    <!-- Controls: col 1 si 2 -->
    <ng-container *ngIf="selectedDocType">
      <div
        class="h-100 d-flex flex-column flex-grow-0 w-50 px-5"
        *ngFor="let column of [1, 2]"
      >
        <div *ngFor="let field of getSelectedDocTypeFields(column)">
          <mat-form-field
            class="w-100 mb-2"
            *ngIf="!field.isImage && !field.isSeparator"
            appearance="outline"
            color="primary"
            appDragDrop
            (textDropped)="sendTextInField($event, field.key)"
            (filesDropped)="sendFileInFiled({ file: $event }, field)"
          >
            <mat-label>{{
              field.label +
                (field.shortLabel ? " (" + field.shortLabel + ") " : "")
            }}</mat-label>
            <input
              [required]="field.isRequired"
              *ngIf="!field.big"
              type="text"
              matInput
              [formControlName]="field.key"
            />
            <textarea
              [required]="field.isRequired"
              *ngIf="field.big"
              type="text"
              spellcheck="false"
              rows="1"
              matInput
              [formControlName]="field.key"
            ></textarea>
            <mat-icon
              (click)="
                formGroup.get(selectedDocType.key).get(field.key).setValue('')
              "
              *ngIf="formGroup?.get(selectedDocType.key).get(field.key)?.value"
              [@fadingAnimation]="{
                value: formGroup?.get(selectedDocType.key).get(field.key)?.value
                  ? true
                  : false
              }"
              color="accent"
              matSuffix
              >close
            </mat-icon>

            <mat-error>
              {{ field | appFunctionPipe : getErrorMessage.bind(this) }}
            </mat-error>
          </mat-form-field>

          <div
            [style.margin]="field.margin || '0px'"
            *ngIf="field.isSeparator"
            class="field-separator"
          >
            {{ field.label }}
          </div>

          <!-- imagine-->
          <div
            class="w-100"
            *ngIf="field.isImage"
            [class.hasImage]="
              formGroup.get(selectedDocType.key).get(field.key).value
            "
            class="formular-image-wrapper d-flex justify-content-center align-items-center mt-2"
            appDragDrop
            (filesDropped)="sendFileInFiled({ file: $event }, field)"
          >
            <img
              *ngIf="
                formGroup.get(selectedDocType.key).get(field.key).value;
                else noIcon
              "
              [src]="formGroup.get(selectedDocType.key).get(field.key).value"
            />
            <ng-template #noIcon>
              <mat-icon svgIcon="image"></mat-icon>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Action buttons  -->
    <div
      class="d-flex flex-column justify-content-between pdfActionsWrapper"
      [class.active]="selectedDocType"
    >
      <div class="d-flex flex-column">
        <!-- Open PDF-->
        <button
          (click)="generarePdf('open')"
          color="primary"
          mat-icon-button
          class="action-button big mb-3 mt-3"
          matTooltip="Generare PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon svgIcon="pdf"></mat-icon>
        </button>

        <!-- Download PDF-->
        <button
          (click)="generarePdf('download')"
          color="primary"
          mat-icon-button
          class="action-button big mb-3"
          matTooltip="Download PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon>cloud_download</mat-icon>
        </button>

        <!-- Print PDF-->
        <button
          (click)="generarePdf('print')"
          color="primary"
          mat-icon-button
          matTooltip="Print PDF"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
          class="action-button big"
        >
          <mat-icon>print</mat-icon>
        </button>
      </div>
      <div class="d-flex flex-column">
        <!-- Config-->
        <button
          *ngIf="selectedDocType"
          type="button"
          (click)="configOpenState = configOpenState ? false : true"
          color="primary"
          mat-icon-button
          matTooltip="Configurari"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
          class="action-button big mb-3 signature-button"
        >
          <mat-icon style="margin-top: -3px" svgIcon="settings"></mat-icon>
        </button>
        <mat-expansion-panel
          class="sign-mat-expansion"
          [(expanded)]="configOpenState"
          hideToggle="true"
        >
          <div class="h-100 w-100 position-relative sign-wrapper mt-4">
            <span class="sign-titlu position-absolute">Configurari</span>
            <button
              class="action-button close-button position-absolute"
              (click)="configOpenState = false"
              mat-icon-button
              color="primary"
            >
              <mat-icon>close</mat-icon>
            </button>
            <div class="h-100 w-100">
              <ng-container *ngTemplateOutlet="configTemplate"> </ng-container>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Signature-->
        <button
          *ngIf="selectedDocType"
          type="button"
          (click)="signOpenState = signOpenState ? false : true"
          color="primary"
          mat-icon-button
          class="action-button big mb-3 signature-button"
          matTooltip="Semnatura"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon svgIcon="signature"></mat-icon>
        </button>
        <mat-expansion-panel
          class="sign-mat-expansion"
          [(expanded)]="signOpenState"
          hideToggle="true"
        >
          <div class="h-100 w-100 position-relative sign-wrapper mt-4">
            <span class="sign-titlu position-absolute">Semnatura</span>
            <button
              class="action-button close-button position-absolute"
              (click)="signOpenState = false"
              mat-icon-button
              color="primary"
            >
              <mat-icon>close</mat-icon>
            </button>
            <div class="h-100 sign w-100">
              <signature-pad
                class="flex-grow-1"
                [options]="signaturePadOptions"
                (onEndEvent)="drawComplete()"
              ></signature-pad>
            </div>
            <button
              [class.opacity-0]="!signatureBase64"
              type="button"
              (click)="clearSign()"
              color="primary"
              mat-icon-button
              class="action-button opacity-0 me-2 float-end"
            >
              Clear
            </button>
          </div>
        </mat-expansion-panel>

        <!-- Reset PDF-->
        <button
          *ngIf="selectedDocType"
          (click)="resetForm()"
          color="primary"
          mat-icon-button
          class="action-button big reset-button mb-3"
          matTooltip="Clear"
          matTooltipShowDelay="400"
          matTooltipPosition="left"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template appTemplateDirective #configTemplate templateName="configTemplate">
  <div>
    <form
      *ngIf="selectedDocType"
      autocomplete="off"
      class="d-flex flex-column flex-wrap"
      style="max-height: 450px; width: 600px; column-gap: 30px"
      [formGroup]="
        selectedDocType
          ? configFormGroup.get(selectedDocType.key)
          : configFormGroup
      "
    >
      <ng-container *ngFor="let field of getSelectedDocTypeConfigFields()">
        <mat-form-field
          appearance="outline"
          color="primary"
          *ngIf="!field.isImage"
        >
          <mat-label>{{ field.label }}</mat-label>
          <input type="text" matInput [formControlName]="field.key" />
        </mat-form-field>

        <div
          *ngIf="field.isImage"
          class="config-image-wrapper d-flex justify-content-center align-items-center mt-2 position-relative"
          appDragDrop
          (filesDropped)="sendFileInConfigField($event, field)"
        >
          <mat-label class="position-absolute config-image-label">{{
            field.label
          }}</mat-label>
          <img
            [src]="
              configFormGroup.get(selectedDocType.key).get(field.key).value
            "
          />
        </div>
      </ng-container>
    </form>
  </div>
</ng-template>
